<!-- base.html -->
<!DOCTYPE>
<html>
<head>
    <meta charset= 'utf-8'>
	<title>
		{% block title %} {% endblock %}
	</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
	<div class='container-fluid'>
         {% include 'header.html' %}
		 <div class='row'>
		    <div class='col-sm-3 col-md-3'>
			    <div class='panel panel-default'>
		            <div class='panel-heading'>
				      <h3>
					    MENU
					  </h3>
				    </div>
					<div class='panel-body'>
					    <div class='list-group'>
						    <a href='/' class='list-group-item'>HOME</a>
							<a href='http://192.168.127.128:8000/admin/login/?next=/admin/' class='list-group-item'>管理頁面</a>
							<a href='https://www.ptt.cc/bbs/Gossiping/index.html' class='list-group-item'>看板 Gossiping</a>
							<a href='https://www.ptt.cc/bbs/C_Chat/index.html' class='list-group-item'>看板 C_Chat</a>
						</div>
						<a href="https://info.flagcounter.com/pJWJ"><img src="https://s01.flagcounter.com/count2/pJWJ/bg_FFFFFF/txt_000000/border_261BCC/columns_2/maxflags_20/viewers_0/labels_0/pageviews_1/flags_0/percent_0/" alt="Flag Counter" border="0"></a>
					
					</div>
				</div>
			</div>
			<div class='col-sm-8 col-md-8'>
						<div class='panel panel-default'>
		                    <div class='panel-heading'>
							    {% block headmessage %} {% endblock %}
							</div>
							<div class='panel-body'>
			                    {% block content %} {% endblock %}
			                </div>
			                <div class='panel-footer'>
			                    {% include 'footer.html' %}
			                </div>
						</div>
					</div>	
	            
			
			
        </div>
    </div>		
</body>
</html>
